.video-player{
    position: relative;
    $videoPanelHeight: 80px;
    .video-panel{
        position: absolute;
        left: 0%;
        top: 0;
        height: 100%;
        width: 100%;
        &__bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $videoPanelHeight;
            background-color: rgba(#fff, 0.6);
        }
    }
}
